.Table {
    position: relative;
    width: 95%;
    padding: 1% 2.5%;
    margin: 3% 0;
    background-color: whitesmoke;
}

.NameArea {
    display: flex;
}

.NameArea h1 {
    width: 80%;
    font-size: 2rem;
}

.NameArea p {
    width: 20%;
    text-align: end;
    font-size: 2rem;
}

.TempArea {
    display: flex;
    margin-top: 2%;
}

.TempArea h1 {
    font-size: 4rem;
    margin-right: 2%;
}

.TempArea div {
    position: relative;
    width: 5rem;
}

.TempArea p {
    width: 100%;
}

.InfoArea {
    display: grid;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 5rem;
}

.InfoBlock {
    position: relative;
    padding: 1% 2%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
}

.InfoBlock p {
    margin-left: 2%;
}

.InfoBlock h1 {
    position: absolute;
    right: 3%;
}

@media (orientation: portrait) {

    .InfoArea {
        grid-template-columns: 1fr;
        margin-top: 5%;
    }
}