.Table {
    width: 95%;
    height: 88%;
    padding: 1% 2.5%;
    background-color: whitesmoke;
}

.NameArea {
    display: flex;
}

.NameArea h1 {
    width: 80%;
    font-size: 2rem;
}

.NameArea p {
    width: 20%;
    text-align: end;
    font-size: 2rem;
}

.TempArea {
    display: flex;
    margin-top: 3%;
}

.TempArea h1 {
    font-size: 4rem;
    margin-right: 2%;
}

.TempArea div {
    position: relative;
    width: 5rem;
}

.TempArea p {
    width: 100%;
}