.Navbar {
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 100%;
}

.Navbar > div {
    position: relative;
    width: 48%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.SearchBar {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;
}

.SearchBar * {
    background-color: whitesmoke;
}

.SearchBar input {
    width: 100%;
    height: 100%;
    padding: 0 17% 0 5%
}

.SearchBar button {
    background-image: url('../../assets/imgs/x.png');
    background-size: auto;
    width: 15%;
    height: 70%;
    position: absolute;
    right: 0;
}

.SearchButton {
    z-index: 6;
    position: relative;
    width: 10%;
    background-color: black;
    overflow: hidden;
    border-radius: 7px;
}

.SearchButton::before, .SearchButton::after {
    content: "";
    position: absolute;
}

.SearchButton::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: invert(100%);
    background-image: url('../../assets/imgs/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.SearchButton::before {
    top: -75%;
    left: -200%;
    border-radius: 100%;
    background-color: gray;
    height: 250%;
    width: 200%;
    transition: left 1s ease
}

.SearchButton:hover::before {
    left: -80%;
}

.SearchOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 100%;
    height: 600%;
    top: 100%;
    border-top: 0;
    overflow-y: auto;
    z-index: 8;
}

.Option {
    position: relative;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    background-color: gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 1.5rem;
    transition: background-color 0.5s ease;
}

.Option:hover{
    background-color: gainsboro;
}

.TimeContainer {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 0 2.5%;
    background-color: whitesmoke;
}

.SliderChanger {
    overflow: hidden;
    position: relative;
    width: 30%;
    position: relative;
    background-color: whitesmoke;
}

.SliderChanger::before, .SliderChanger::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;
    width: 20%;
    z-index: 2;
    pointer-events: none;
}

.SliderChanger:disabled {
    cursor: not-allowed;
}

.ThemeChanger::before {
    background-image: url('../../assets/imgs/sun.png');
    top: 0;
    left: 5%;
}

.ThemeChanger::after {
    background-image: url('../../assets/imgs/moon.png');
    top: 0;
    right: 5%;
}

.UnitChanger::before {
    content: "C°";
    font-size: 1.5rem;
    top: 25%;
    left: 5%;
}

.UnitChanger::after {
    content: "F°";
    font-size: 1.5rem;
    top: 25%;
    right: 5%;
}

.SliderChanger div {
    z-index: 1;
    position: absolute;
    top: -50%;
    border-radius: 100%;
    width: 75%;
    height: 200%;
    transition: left 2.5s ease;
}

@media (orientation: portrait) {

    .Navbar {
        height: 15vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    .Navbar > div {
        width: 100%;
        height: 46%;
    }
}