button,
input {
    border: 0;
    outline: none;
}

button:hover {
    cursor: pointer;
}

* {
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}

.Navbar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
}

.Navbar > div {
    width: 48%;
    height: 75%;
    display: flex;
    overflow: visible;
    justify-content: space-between;
}

.Border {
    border-color: silver;
    border-width: 1px;
    border-style: solid;
    border-radius: 5%;
}


.SearchBar {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}

.SearchBar * {
    background-color: whitesmoke;
}

.SearchBar input {
    width: 100%;
    height: 100%;
    padding: 0 17% 0 5%
}

.SearchBar button {
    background-image: url('../../assets/imgs/x.png');
    background-size: auto;
    width: 15%;
    height: 70%;
    position: absolute;
    right: 0;
}

.SearchButton {
    position: relative;
    width: 10%;
    background-color: black;
    overflow: hidden;
}

.SearchButton::before, .SearchButton::after {
    content: "";
    position: absolute;
}

.SearchButton::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: invert(100%);
    background-image: url('../../assets/imgs/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.SearchButton::before {
    top: -75%;
    left: -200%;
    transform-origin: center;
    border-radius: 100%;
    background-color: gray;
    height: 250%;
    width: 200%;
    transition: left 1s ease
}

.SearchButton:hover::before {
    left: -80%;
}

.TimeContainer {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 2.5%;
    background-color: whitesmoke;
}

.ThemeChangeContainer {
    overflow: hidden;
    position: relative;
    width: 35%;
    position: relative;
    background-color: whitesmoke;
}

.ThemeChangeContainer::before, .ThemeChangeContainer::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;
    width: 20%;
    z-index: 2;
    pointer-events: none;
}

.ThemeChangeContainer::before {
    background-image: url('../../assets/imgs/sun.png');
    top: 0;
    left: 0;
}

.ThemeChangeContainer::after {
    background-image: url('../../assets/imgs/moon.png');
    top: 0;
    right: 0;
}

.ThemeChangeContainer button {
    position: absolute;
    top: -50%;
    border-radius: 100%;
    width: 75%;
    height: 200%;
    transition: left 1.5s ease;
}

.ThemeOverlay {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: scale 2s ease;
}
@media (orientation: portrait) {

    .Navbar {
        height: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .Navbar > div {
        width: 100%;
        height: 46%;
    }
}